// 定义颜色
$color-theme:#0c0e1e;
$color-pane:#161c2b;
$color-font-title:#fafeff;
$color-font-content:#828796;
$color-font-light:#3df7b5;


// 定义字体大小
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xs: 18px;
$font-size-xxl: 22px;
